variables:
    ROS_DISTRO: humble
    GIT_CLONE_PATH: $CI_BUILDS_DIR/ros2_ws/src/scm-ros2-driver

stages:
    - build

image: ros:$ROS_DISTRO

build:
    stage: build
    script:
        - apt update && apt upgrade -y
        - source /opt/ros/$ROS_DISTRO/setup.bash
        - cd $CI_BUILDS_DIR/ros2_ws
        - rosdep install --from-paths src -y
        - colcon build
