variables:
    ROS_DISTRO: humble
    GIT_CLONE_PATH: $CI_BUILDS_DIR/ros2_ws/src/scm-ros2-driver

stages:
    - build
    - test

image: ros:$ROS_DISTRO

Build:
    stage: build
    script:
        - apt update && apt upgrade -y
        - source /opt/ros/$ROS_DISTRO/setup.bash
        - cd $CI_BUILDS_DIR/ros2_ws
        - rosdep install --from-paths src -y
        - colcon build
    artifacts:
        paths:
            - "$CI_BUILDS_DIR/ros2_ws/"

Linting:
    stage: test
    script:
        # Original (unchanged) LICENSE file & CONTRIBUTING file are required by ament_copyright
        - apt update && apt install wget -y
        - wget https://www.apache.org/licenses/LICENSE-2.0.txt -O $GIT_CLONE_PATH/LICENSE
        - wget https://raw.githubusercontent.com/ament/ament_lint/rolling/ament_copyright/ament_copyright/template/apache2_contributing.txt -O $GIT_CLONE_PATH/CONTRIBUTING.md
        - cd $CI_BUILDS_DIR/ros2_ws
        - source install/setup.bash
        - colcon test --packages-select cis_scm --event-handlers console_direct+ --return-code-on-test-failure
    dependencies:
        - Build
